{{ form_start(commandeForm) }}
<div class="my-4">
   <div class="card">

      <div class="card-header bg-white border-bottom">
         <h3 id="aboutSeller" class="card-title mt-4">Personnaliser et commander</h3>
      </div>

      <div class="card-body p-0">
         <div class="p-3 bg-light">
            <h5 class="p-2 font-weight-bold">Options supplémentaires</h5>
            <div class="">
               {{ form_widget(commandeForm) }}
            </div>
         </div>
      </div>

      <div class="card-footer bg-white">
         <div class="row">
            <div class="col-sm-6">

               <button type="submit" class="btn btn-dark btn-lg h5">Commander</button>

               {% if is_granted('microservice_edit', microservice) %}{% else %}
               <a class="btn btn-outline-dark btn-lg h5"
                  href="{{ path('microservice_conversations', {vendeurNameUrl: microservice.vendeur.nameUrl, microserviceId: microservice.id }) }}">Contacter
                  le vendeur</a>
               {% endif %}
            </div>
         </div>
      </div>

   </div>
</div>
{{ form_end(commandeForm) }}