<div class="main-page py-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 mx-auto">
				<div class="card">

					<div class="card-body text-center">
						<p class="text-center">Ce contenu n'est pas disponible pour l'instant...</p>

                  <a href="{{ path('microservices') }}">Voir toute les catégories de service &longrightarrow;</a>
			
						<div class="py-4">
							<i class="fa fa-search fa-3x text-muted"></i>
						</div>
					</div>
			
				</div>
			</div>
		</div>
	</div>
</div>