{% if microservice.realisations|length > 0 %}

<div class="mb-4">
   <div class="view_slider recommended">
      <h3 id="recommendations">Réalisations</h3>
      <div class="view recommended-slider">
         {% for realisation in microservice.realisations %}

         <a href="{{ realisation.link }}" target="_blank" class="d-block text-muted">
            <strong>{{ realisation.name }}</strong> <br>
            <span class="text-light">#{{ realisation.plateforme }} {{ realisation.type }}</span>
         </a>

         {% endfor %}
      </div>
   </div>
</div>

{% endif %}