<div class="card mb-3">
   <div class="card-body">
      <h6 class=" py-2"><i class="fa fa-calendar"></i> Disponibilité du profésionnel</h6>
      <div class="">
         {% for emplois_temp in emploistemps(microservice.vendeur) %}
         <div class="d-flex align-items-top mb-2">
            <p class="mb-0 text-muted">{{ emplois_temp.jour }}</p>
            <p class="text-muted mb-0 mt-0 ml-auto text-left">
               {{ emplois_temp.heureOuverture ? emplois_temp.heureOuverture|date('H:i') : '' }} -
               {{ emplois_temp.heureCloture ? emplois_temp.heureCloture|date('H:i') : '' }}
            </p>
         </div>
         {% else %}
         <div class="d-flex align-items-top mb-2">
            <p class="mb-0 text-muted">Aucun planning disponible pour l'instant</p>
         </div>
         {% endfor %}
      </div>
   </div>
</div>