<table class="table table-bordered">
   <thead>
      <tr>
         <td>Jours</td>
         <td>De</td>
         <td>A</td>
      </tr>
   </thead>
   <tbody>
      {% for emplois_temp in emploistemps(microservice.vendeur) %}
      <tr>
         <td>{{ emplois_temp.jour }}</td>
         <td> <i class="fa fa-clock-o"></i> {{ emplois_temp.heureOuverture|date('H:i') }}</td>
         <td> <i class="fa fa-clock-o"></i> {{ emplois_temp.heureCloture|date('H:i') }}</td>
      </tr>
      {% else %}
      <tr>
         <td colspan="3">
            <p>Aucun planning disponible pour l'instant</p>
         </td>
      </tr>
      {% endfor %}
   </tbody>
</table>