<div class="row">
   <div class="col-5">
      <label class="mb-1">Mot de passe</label>
   </div>
   <div class="col-7 text-right">
      <a href="{{ path('app_forgot_password_request') }}" class="text-light">Mot de passe oublié !</a>
   </div>
</div>