<div class="row">
	<div class="col-6 py-2">
		<a href="{{ path('facebook_connect') }}" class="btn btn-outline-facebook btn-block">
			<i class="mdi mdi-facebook"></i>
			Facebook</a>
	</div>
	<div class="col-6 py-2">
		<a href="{{ path('google_connect') }}" class="btn btn-danger btn-block">
			<i class="mdi mdi-google"></i>
			Google</a>
	</div>
</div>
