<div class="row">
	<div class="col-4 py-2">
		<a href="{{ path('facebook_connect') }}" class="btn btn-outline-facebook btn-block">
			<i class="mdi mdi-facebook"></i>
			</a>
	</div>
	<div class="col-4 py-2">
		<a href="{{ path('google_connect') }}" class="btn btn-danger btn-block">
			<i class="mdi mdi-google"></i>
			</a>
	</div>
	<div class="col-4 py-2">
		<a href="{{ path('instagram_connect') }}" class="btn btn-block text-light instagram-button">
			<i class="mdi mdi-instagram"></i>
		</a>
	</div>
</div>
