{% extends 'auth.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block titre %}Connexion{% endblock %}

{% block text %}Connectez-vous sur
{{ appName }} <br> en toute securité
{% endblock %}

{% block space %}{% endblock %}

{% block alternatiflink %}https://links-infinity.com/login{% endblock %}

{% block body %}

<form method="post">
	{% if error %}
	<div class="alert alert-danger">
		Identifiant ou mot de passe incorect
	</div>
	{% endif %}
	<div class="form-group">
		<label class="mb-1" for="inputEmail">Email</label>
		<div class="position-relative icon-form-control">
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
				autocomplete="email" required autofocus>
		</div>
	</div>
	<div class="form-group">
		{% include "security/_password.html.twig" %}
		<div class="position-relative icon-form-control">
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password"
				required>
		</div>
	</div>
	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

	<div class="custom-control custom-checkbox mb-3">
		<input type="checkbox" class="custom-control-input" name="_remember_me" id="customCheck1">
		<label class="custom-control-label font-weight-light text-light" for="customCheck1">Se souvenir de moi</label>
	</div>
	<button class="btn btn-success btn-block text-uppercase py-3" type="submit">
		Connexion
	</button>
</form>
<hr>
<div class="text-center pb-3">

	{% include "security/_reseaux.html.twig" %}

</div>
{% endblock %}