{% extends 'admin.html.twig' %}

{% block title %}Réponse à la demande de remboursement{% endblock %}

{% block pageTitle %}Réponse à la demande de remboursement{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block body %}

<div class="card">
    <div class="card-body">

        {{ include('admin/admin_remboursements/_form.html.twig', {'button_label': 'Répondre'}) }}
        <br>
        {{ include('admin/admin_remboursements/_delete_form.html.twig') }}
    </div>
</div>

{% endblock %}