{% extends 'auth.html.twig' %}

{% block title %}Mail envoyé{% endblock %}

{% block titre %}Félicitation {{ user.prenom }}{% endblock %}

{% block text %}Merci de vous être inscrit sur notre plate-forme <strong>{{ appName }}</strong>{% endblock %}

{% block body %}

<div class="alert alert-info">
   Nous devons vérifier votre adresse e-mail "<strong>{{ user.email }}</strong>" avant que vous puissiez accéder à votre portail <strong>{{ user.compte }}</strong>. <br>

   Vérifiez votre adresse e-mail puis cliquez sur: <span class="text-muted">Confirmer mon e-mail</span>
</div>

<h5>Merci !</h5>

{% endblock %}