{% for type, messages in app.flashes %}
	{% for message in messages %}
		<div class="alert alert-{{ type }} flash alert-dismissible fade show mb-3 border border-{{ type }}" role="alert" style="text-align: left!important;">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong class="my-0 text-{{ type }} mr-3">
                {% if type == 'danger' %}
					<i class="fa fa-exclamation-triangle"></i> Echec!
                {% elseif type == 'warning' %}
					<i class="fa fa-exclamation-triangle"></i> Attention!
				{% elseif type =='info' %}
					<i class="fa fa-check"></i> En cours de validation!
				{% elseif type =='success' %}
					<i class="fa fa-check"></i> Succès!
				{% endif %}
            </strong>
				<span class="d-inline">{{ message }}</span>
		</div>
	{% endfor %}
{% endfor %}
