{% for type, messages in app.flashes %}
	{% for message in messages %}
		<div class="alert alertflash alert-{{ type }} alert-dismissible fade show mb-3" role="alert" style="text-align: left!important">
			<strong class="my-0 text-{{ type }}">
                {% if type == 'danger' %}
					<i class="fa fa-exclamation-triangle"></i> Echec!
                {% elseif type == 'warning' %}
					<i class="fa fa-exclamation-triangle"></i> Attention!
				{% elseif type =='info' %}
					<i class="fa fa-check"></i> En cours de validation!
				{% elseif type =='success' %}
					<i class="fa fa-check"></i> Succès!
				{% endif %}
            </strong> -
			<p class="font-weight-light text-light d-inline">{{ message }}</p>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
{% endfor %}
