<footer class="bg-white">
	<div class="container">
		<div class="d-flex justify-content-between">
			<div class="footer-list">
				<h2>
					<a href="{{ path('accueil') }}">
						<img src="{{ asset('img/logo.png') }}" class="img-fluid w-50">
					</a>
				</h2>
				<p class="text-muted pr-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, deleniti! Nihil, beatae. Nam, reiciendis ad.</p>
				<div class="copyright">
					<ul class="social">
						<li>
							<a href="#">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-pinterest-p" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-list">
				<h2>About</h2>
				<ul class="list">
					<li>
						<a href="#">Careers</a>
					</li>
					<li>
						<a href="#">Press &amp; News</a>
					</li>
					<li>
						<a href="#">Partnerships</a>
					</li>
					<li>
						<a href="#">Privacy Policy</a>
					</li>
				</ul>
			</div>
			<div class="footer-list">
				<h2>Support</h2>
				<ul class="list">
					<li>
						<a href="#">Help &amp; Support</a>
					</li>
					<li>
						<a href="#">Trust &amp; Safety</a>
					</li>
					<li>
						<a href="#">Selling on Miver
						</a>
					</li>
					<li>
						<a href="#">Buying on Miver
						</a>
					</li>
				</ul>
			</div>
			<div class="footer-list">
				<h2>Community</h2>
				<ul class="list">
					<li>
						<a href="#">Events</a>
					</li>
					<li>
						<a href="#">Blog</a>
					</li>
					<li>
						<a href="#">Forum</a>
					</li>
					<li>
						<a href="#">Community Standards</a>
					</li>
				</ul>
			</div>
			<div class="footer-list">
				<h2>More From Miver</h2>
				<ul class="list">
					<li>
						<a href="#">Miver Pro</a>
					</li>
					<li>
						<a href="#">Miver Studios</a>
					</li>
					<li>
						<a href="#">Miver Logo Maker</a>
					</li>
					<li>
						<a href="#">Get Inspired</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="text-center py-4 text-muted border-top">
		<p class="p-0 m-0">© Copyright 2022 Miver. All Rights Reserved
		</p>
	</div>
</footer>
