<a class="dropdown-item" href="{{ path('vendeur_achats_index') }}">
   <div class="dropdown-item-icon">
      <i class="fa fa-opencart"></i>
   </div>
   Mes achats
</a>

<a class="dropdown-item" href="{{ path('favoris_index') }}">
   <div class="dropdown-item-icon">
      <i class="fa fa-heart"></i>
   </div>
   Favoris
</a>

<a class="dropdown-item" href="{{ path('suivis_index') }}">
   <div class="dropdown-item-icon">
      <i class="fa fa-plus"></i>
   </div>
   Suivis
</a>

{% if is_granted('ROLE_CLIENT') %}

<a class="dropdown-item" href="{{ path('app_devenir_vendeur') }}">
   <button class="btn rounded-btn btn-success w-100" style="color: white!important;">
      <i class="fa fa-user"></i>
      Devenir vendeur
   </button>
</a>

{% endif %}