{% extends 'vendeur.html.twig' %}

{% block title %}Mes commandes
{% endblock %}

{% block bg %}{% endblock %}

{% block body %}

<div class="card shadow-sm">
    <div class="card-header bg-white">
        <h1 class="h5 mb-3">Mes commandes</h1>
    </div>
    <div class="card-body p-0 m-0">
        {% include "vendeur/commandes/_table.html.twig" %}
    </div>
</div>

{% endblock %}