{% extends 'admin.html.twig' %}

{% block title %}Comptes administrateur{% endblock %}

{% block pageTitle %}Comptes administrateur ({{ users.getTotalItemCount }}){% endblock %}

{% block body %}

<div class="card">
    <div class="card-body p-0">
        <div class="table-rep-plugin">
            <div class="table-responsive mb-0" data-bs-pattern="priority-columns">

                {% include "admin/admin_users/_table.html.twig" %}

            </div>
        </div>
    </div>

    <div class="card-footer bg-white">
        {{ knp_pagination_render(users, null, {}, {
        'align': 'right',
        'size': 'medium',
        'rounded': true,
        }) }}
    </div>
</div>

{% endblock %}