<p>
         Besoin d'aide ? Consultez la <a href="{{ path('page_faqs') }}">FAQ</a>.
         <a href="{{ absolute_url(path('page_politiques')) }}">Conditions générales</a>
      </p>
      
      <p>
         Cordialement, <br>
         L'équipe {{ appName }}
      </p>

      <p style="text-align: center;">©{{ appName }} - Tous droits réservés</p>