<div style="background-color: #f3f3f3;padding: 30px;font-size: 13px;">
   <div style="margin: auto;background: #fff;padding: 20px;">

      {% include "mails/_logo.html.twig" %}
      
      <p>Bonjour <strong>{{ vendeur.usePseudo == 1 ? vendeur.pseudo : vendeur.usePseudo == 1 ? vendeur.pseudo : vendeur.nom ~ ' ' ~ vendeur.prenom }}</strong>,</p>

      <p>Votre demande de retrait de <strong>{{ demande.montant ~ currency }}</strong> est en cours de traitement.</p>

      {% include "mails/_lien_cgu.html.twig" %}

   </div>
</div>