{{ form_start(form, {'attr': {'class': 'message-form bg-white border-top'}}) }}

<div class="p-3">

	{{ form_errors(form.contenu) }}

	<div class="form-group">

		{{ form_widget(form.contenu, {'attr': {'rows': 2, 'class': 'shadow-none border-0'}}) }}

	</div>

	<!--<textarea placeholder="Write a message…" class="form-control border-0 p-3 shadow-none" rows="2"></textarea>-->
	<div class="text-right">
		<button type="submit" class="btn btn-success btn-sm rounded">
		<i class="mdi mdi-send"></i>
		Envoyer
	</button>
	</div>
</div>

{{ form_end(form) }}