<div class="text-center mb-4">
   <p class="alert bg-warning p-1 text-dark" style="font-size: .9em;">
      <i class="fa fa-lock"></i> Pour votre securite , les discussions, envoies de fichiers et paiements
      doivent se faire exclusivement sur {{ appName }}
   </p>
</div>