<p>
   {% if app.user.compte == 'Vendeur' %}

      Veuillez indiquer votre adresse pour nous permettre de proposer vos services aux clients les plus proches de chez vous.

   {% else %}

      Veuillez indiquer votre adresse pour nous permettre de vous proposer les services des prestataires proche de chez vous.

   {% endif %}
</p>