<form method="post" class="d-inline" action="{{ path('app_admin_offres_delete', {'id': offre.id}) }}" onsubmit="return confirm('Voulez-vous supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
