{% extends 'vendeur.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}

{% block bg %}{% endblock %}

{% block sidebar %}

{{ parent() }}

{% endblock %}

{% block body %}

<div class="card bg-white rounded mb-3">
	<div class="card-header bg-dark">
		<h4 class="mb-0 text-light h6">
			Tableau de bord
		</h4>
	</div>

	<div class="card-body">
		{% include "vendeur/portefeuille/composants/_box.html.twig" %}
	</div>
</div>

{% include "vendeur/abonnement/composants/_box.html.twig" %}

{% endblock %}