{% extends 'vendeur.html.twig' %}

{% block title %}Mettre à jour votre mot de passe
{% endblock %}

{% block bg %}{% endblock %}

{% block colleft %}4
{% endblock %}

{% block colright %}8
{% endblock %}

{% block body %}

{{ form_start(resetForm) }}

<div class="card bg-light mb-3">
	<div class="card-header p-3 text-left bg-dark">
		<h4 class="mb-0 h6 pl-2 text-light">Mettre à jour votre mot de passe</h4>
	</div>
	<div class="card-body p-3">
		<div class="row">
			<div class="col-sm-12">

				<p>Vous serez automatiquement déconnecter après avoir mis à jour vos accès.</p>

				{{ form_row(resetForm.plainPassword) }}

				<div class="">
					<button type="submit" class="btn btn-dark">Mettre à jour</button>
				</div>

			</div>
		</div>
	</div>
</div>

{{ form_end(resetForm) }}

{% endblock %}