{% extends 'vendeur.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block bg %}{% endblock %}

{% block colleft %}4
{% endblock %}

{% block colright %}8
{% endblock %}

{% block body %}

<div class="card rounded bg-light mb-3">
	<div class="card-header bg-dark">
		<h4 class="h6 text-light mb-0">Méthode de paiement</h4>
	</div>
	<div class="card-body">
		{% if is_granted('ROLE_VENDEUR') %}
		<div class="text-dark">
			{{ form_start(form) }}

			{{ form_rest(form) }}

			<button class="btn btn-dark">Enregister</button>

			{{ form_end(form) }}
		</div>
		{% endif %}
	</div>
</div>

{% endblock %}