{% extends 'base.html.twig' %}

{% block title %}Nouvelle reservation{% endblock %}

{% block titre %}Nouvelle reservation{% endblock %}

{% block space %}{% endblock %}

{% block body %}

<section class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 ml-auto">
				<div class="card mb-3">
					<div class="card-body">

						<h4 class="py-3 h5">Nouvelle reservation</h4>

						{% include "commande/composants/_stripe_reservation.html.twig" %}

						<div>
							{% include "commande/composants/_paypal_button.html.twig" %}
						</div>

						<p class="py-3 text-center p-0">
							Paiement <strong><i class="fa fa-lock"></i> Sécurisé</strong>
						</p>

					</div>
				</div>
			</div>
			<div class="col-sm-5 mr-auto">
				{{ include('vendeur/microservices/composants/_bloc.html.twig') }}
			</div>
		</div>
	</div>
</section>

{% endblock %}