<h1>Félicitation</h1>

<p>
    Vous venez de livrer une commande à <a href="mailto:{{ destinataire }}">{{ destinataire }}</a>
</p>

<p>Vous avez reçu un total de <strong>{{ montantRecu ~ currency }}</strong> dans votre portefeuille</p>

<h4>Votre solde disponible est de: {{ soldedispo ~ currency }}</h4>

<p>Merci pour votre fidélité!</p>
