<form method="post" class="d-inline" action="{{ path('vendeur_livrer_commande', {'id': commande.id}) }}" onsubmit="return confirm('Cette commande a bien été livrée?');">
    <input type="hidden" name="_token" value="{{ csrf_token('livrer' ~ commande.id) }}">
    <button class="btn btn-success rounded-btn w-100 my-2">
        <span id="btnFetch">Prestation terminée commande livrée !</span>
    </button>
</form>
