<h4 class="ajax text-muted h5 font-weight-500">Questions frequentes</h4>
<ul class="mb-4 font-weight-light">
	<li>{% trans %}questionune{% endtrans %}?</li>
	<li>{% trans %}questiondeux{% endtrans %}?</li>
	<li>{% trans %}questiontrois{% endtrans %}?</li>
</ul>