<div class="pt-4">
	<h4 class="h6 font-weight-bold">Besoin d'aide?</h4>
	<p class="text-muted">À tout moment, vous pouvez nous contacté via notre adresse e-mail 
      <a href="mailto:{{ appEmail  }}">{{ appEmail  }}</a> en cas de besoin.</p>
</div>
