{% if is_granted('microservice_edit', commande.microservice) %}
{% if commande.deliver == true %}
<div class="card my-4" id="rapport">
   <div class="card-header bg-dark">
      <h6 class="h6 text-light">
         Rapport de fin de prestation de service
      </h6>
   </div>
   <div class="card-body">
      {% if rapport == false %}
      <p>
         Pour recevoir les fonds, rédigez votre rapport de fin de prestation
      </p>
      <div class="pt-0">
         {{ form_start(rapportForm) }}

         {{ form_widget(rapportForm) }}

         <button type="submit" class="btn btn-dark">
            <span id="btnFetch" class="w-100">
               <i class="mdi mdi-send"></i> Envoyer
            </span>
         </button>

         {{ form_end(rapportForm) }}
      </div>
      {% else %}
      <q class="font-italic p-3 bg-light pt-0 d-block rounded">
         Nous accusons une bonne réception de votre rapport, merci pour votre
         éventuel collaboration.
      </q>
      {% endif %}
   </div>
</div>
{% endif %}
{% endif %}