<div class="card mb-3">
  <div class="card-body">
    {{ form_row(form.jours) }}
    {{ form_row(form.heureOuverture) }}
    {{ form_row(form.heureCloture) }}
    <div class="form-group">
      <button type="button" class="btn btn-outline-danger btn-remove">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>