<form method="post" class="d-inline" action="{{ path('app_admin_retraits_valider', {'id': retrait.id}) }}" onsubmit="return confirm('Voulez-vous validé cette demande?');">
    <input type="hidden" name="_token" value="{{ csrf_token('valider' ~ retrait.id) }}">
    <button class="btn btn-success">Valider</button>
</form>
