{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}

	<div class="py-5">
		<div class="container">
			<div class="row">
				<!-- Main Content -->
				<main class="col-lg-12 col-md-12 col-sm-12 col-12">
					{% include "chat/_chat.html.twig" %}
				</main>
			</div>
		</div>
	</div>

{% endblock %}
