<table class="table table-borderless table-striped">
   <tbody>
      <thead>
         <tr class="text-uppercase text-dark">
            <th>Jours</th>
            <th>Heure d'ouverture</th>
            <th>Heure de cloture</th>
         </tr>
      </thead>
      {% for emplois_temp in emploistemps(app.user) %}
      <tr class="text-muted">
         <th>
            <span>{{ emplois_temp.jour }}</span>
         </th>
         <td>
            {{ emplois_temp.heureOuverture ? emplois_temp.heureOuverture|date('H:i') : '' }}
         </td>
         <td>
            {{ emplois_temp.heureCloture ? emplois_temp.heureCloture|date('H:i') : '' }}
         </td>
         <td class="text-right">
            <a href="{{ path('app_vendeur_emplois_temps_edit', {'id': emplois_temp.id}) }}"
               class="btn btn-dark">Modifier</a>
            {% include "vendeur/emplois_temps/_delete_form.html.twig" %}
         </td>
      </tr>
      {% else %}
      <tr>
         <td colspan="3">Aucun planning, vous n'avez pas encore renseigner votre emploi du temps</td>
      </tr>
      {% endfor %}
   </tbody>
</table>