{% extends 'vendeur.html.twig' %}

{% block title %}Mettre à jour votre planning{% endblock %}
{% block bg %}transparent{% endblock %}

{% block body %}

<div class="card mb-3">
    <div class="card-body">
        <h2 class="h6 mb-3">Mettre à jour ce planning</h2>
        {{ include('vendeur/emplois_temps/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h2 class="h6 mb-3">Planning</h2>
        {% include "vendeur/emplois_temps/_table.html.twig" %}
    </div>
</div>

{% endblock %}