@font-face {
   font-family: Jost;
   src: url(Font/Jost-Regular-400.ttf);
}
@font-face {
   font-family: Jost-semibold;
   src: url(Font/Jost-SemiBold-600.ttf);
}
body{
   font-family: Jost!important;
}
h1,h2,h3,h4,h5,h6{
   font-family: Jost-semibold;
}

/* Navigation */
.navbar-expand-lg {
   z-index: 900 !important;
   background: #fff !important;
   /*background-color: transparent!important;
   background-image: linear-gradient(160deg, #FDBAF8 0%, #B0EFEB 100%)!important;*/
}

.navtop-home {
   z-index: 1000 !important;
   background: transparent !important;
   position: absolute !important;
   top: 0;
   right: 0;
   left: 0;
}

.navtop-home .nav-item .nav-link {
   color: white !important;
}

.py-5-home {
   padding-bottom: 100px;
}

.homepage-search-title .font-weight-bold {
   font-weight: 700 !important;
   margin: 150px 0;
}

/**
******** Home Banner
*/
.bg-image {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.btn-padding {
   padding: 9px 20px;
}

.categorieSection{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   z-index: 4;
}
.categorieSection .container{
   position: relative;
   z-index: 3;
}
.categorieSection .container h1{
   margin-top: 20%!important;
}
.categorieSection .container h1, .categorieSection .container p{
   color: white!important;
}
.categorieSection{
   height: 400px;
}
.bg-image .caption,
.categorieSection .caption {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(transparent, black);
   z-index: 0;
}

.bg-degrade {
   background-color: transparent;
   background-image: linear-gradient(160deg, #82a0bc 0%, #95979d 100%);
}

.bg-degrade.home {
   height: 100vh;
}

.bg-degrade .container {
   padding-top: 7%;
}

.bg-image .container {
   z-index: 2;
   color: white;
   position: inherit;
}

/*
***********************************
**** Panier Count service
*/
.count-cart {
   display: inline-block;
   width: 22px;
   background: #82a0bc;
   color: #fff;
   position: relative;
   top: -10px;
   left: -5px;
   text-align: center;
   height: 22px;
   line-height: 22px;
   border-radius: 50%;
}

.bg-siteprimary {
   background: #82a0bc !important;
}

.dropdown-item.bg-primary {
   background: #ced4da !important;
}

.vich-image img {
   display: block;
   border-radius: 10px;
   margin: 10px 0;
}

.input-group-prepend {
   margin-right: -1px;
   height: 34px;
}

/* Favoris */
.js-favoris i {
   font-size: 1.6em !important;
}

.green {
   color: rgb(17, 187, 17) !important;
}

.light {
   color: #dddddd !important;
}

/* Message box */
.message-box {
   border-radius: 15px !important;
   padding-top: 15px !important;
   padding-bottom: 0 !important;
}

.badge-message {
   position: relative;
   top: -10px;
   left: -20px;
   height: 15px;
   line-height: 10px;
}

.rounded-btn {
   border-radius: 20px !important;
}

.tache-terminer i {
   color: #43aa8b !important;
   font-weight: bold !important;
}

.tache-terminer.active i {
   color: black !important;
   font-weight: bold !important;
}

.tache-encours i.text-muted {
   color: #e2e1e1 !important;
}

.miblie-notif {
   width: 30px !important;
   height: 30px !important;
}

.danger-bg {
   background-color: rgb(168, 16, 16) !important;
}

.bloc-masquer {
   visibility: hidden !important;
   height: 1px !important;
}

.select2-container--default .select2-selection--multiple {
   border: solid white 0px !important;
   outline: 0;
   overflow: hidden !important;
   height: 25% !important;
}

.homepage-search-form .form-control {
   overflow: hidden !important;
}

.dropdown-filters .dropdown .dropdown-toggle::after {
   position: absolute !important;
   top: 8px !important;
   right: 10px !important;
}

.dropdown-filters .dropdown button {
   width: 100% !important;
}

.scroled {
   height: 300px !important;
   overflow: scroll !important;
}

.profile {
   position: relative;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 300px !important;
}

.profile .profil_caption {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(transparent, black);
   z-index: 0;
}

.categorie {
   font-size: .8em !important;
   padding: 3px !important;
}

.microservice_galerie_medias form fieldset div {
   /*border: 1px solid red!important;
   margin-bottom: 30px;*/
}
.dropdown:hover .dropdown-menu{
   display: block!important;
}
.dropdown-menu{
   margin-top: 0!important;
}
.box-title.bg-dark{
   background: #82a0bc!important;
   border-radius: 0!important;
}
.avis .nav-pills .nav-item .nav-link{
   font-weight: 500;
   padding: 15px;
   font-size: 1.2em;
   color: #000!important;
   background-color: tranparent!important;
   margin: 0px;
   border-radius: 0;
}
.avis .nav-pills .nav-item .nav-link.active{
   background-color: transparent;
   border-bottom: 2px solid #82a0bc;
}