.mobile-filter{
   display: none;
}
@media(max-width:1024px){
   .mobile-filter{
      display: block;
   }
}

@media(min-width:767px) {
   .bg-image {
      background-position-y: -200px;
   }
}

@media(max-width:600px) {
   section.py-5{
      padding: 20px 5px!important;
   }
   .market-wrapper .categories-list li {
      width: 47%;
   }
   .third-menu{
      position: relative!important;
   }
}