.mobile-filter {
   display: none;
}

@media(max-width:1024px) {
   .mobile-filter {
      display: block;
   }
}

@media(min-width:767px) {
   .bg-image {
      background-position-y: 0;
   }
}

@media(max-width:600px) {
   .py-5, .py-4, .pb-5 {
      padding: 20px 0 !important;
   }

   .main-page.best-selling .view_slider.recommended {
      padding: 12px 0;
   }

   .paddingless {
      padding: 0 5px !important;
   }

   .market-wrapper .categories-list li {
      width: 47%;
   }

   .third-menu {
      position: relative !important;
   }

   .categorieSection .container h1 {
      margin-top: 50% !important;
      font-size: 2em;
   }

   .categorieSection .container p {
      font-size: 1em;
   }

   .categorieSection {
      height: 400px;
   }

   .homepage-search-title .font-weight-bold {
      font-weight: 700 !important;
      margin: 30px 0;
      font-size: 2em;
   }

   .form-search .dropdown-menu,
   .form-search .dropdown-menu.show {
      min-width: 100%!important;
   }
}