.mobile-filter {
   display: none;
}

@media(max-width:1024px) {
   .mobile-filter {
      display: block;
   }
}

@media(max-width: 800px) {
   
   .bg-image {
      background-position-y: 0;
   }

   .py-5, .py-4, .pb-5 {
      padding: 20px 1px !important;
   }

   .main-page.best-selling .view_slider.recommended {
      padding: 12px 0;
   }

   .paddingless {
      padding: 0 5px !important;
   }

   .market-wrapper .categories-list li {
      width: 48%;
   }

   .third-menu {
      position: relative !important;
   }

   .categorieSection .container h1 {
      margin-top: 50% !important;
      font-size: 2em;
   }

   .categorieSection .container p {
      font-size: 1em;
   }

   .categorieSection {
      height: 400px;
   }

   .homepage-search-title .font-weight-bold {
      font-weight: 700 !important;
      margin: 30px 0;
      font-size: 2em;
   }

   .homeBanner {
      height: 30vh !important;
   }

   .search {
      position: relative;
      top: -60px;
   }

   .form-search .dropdown-menu,
   .form-search .dropdown-menu.show {
      min-width: 360px !important;
   }

   #bannerCarouselIndicators {
      height: 100% !important;
   }

   .carousel-inner {
      height: 30vh !important;
   }

   .carousel-indicators {
      display: none !important;
   }

   #bannerCarouselIndicators .carousel-inner .carousel-item {
      padding: 0;
   }

   #bannerCarouselIndicators .carousel-inner .carousel-caption h5 {
      width: 100%;
      font-size: 1.3rem;
      margin-bottom: 30px;
      margin-top: 25%;
   }

   .about-section {
      padding: 15px !important;
   }

   .view_slider h3 {
      padding-top: 40px;
   }

   .view_slider h3 {
      padding-top: 20px !important;
   }

   h2, h3 {
      font-size: 1.5em !important;
   }

   h4, h5, h6 {
      font-size: 1em !important;
   }

   .auth-bloc {
      width: 100%;
      margin: auto;
      padding: 20px;
   }

   .nav-auth-btn {
      font-size: .8em !important;
      margin-right: 5px;
   }

   .dropdown-notifications {
      position: relative;
   }
   .form-key-word{
      width: 300px!important;
   }
}