<form method="post" class="d-inline" action="{{ path('app_admin_services_signale_offline', {'id': service_signale.id}) }}" onsubmit="return confirm('Voulez-vous vraiment bloqué ce service?');">
    <input type="hidden" name="_token" value="{{ csrf_token('offline' ~ service_signale.id) }}">
    <button class="btn btn-secondary" type="submit"><i class="fa fa-lock"></i> Bloquer le service</button>
</form>
