{% extends 'base.html.twig' %}

{% block title %}Edit ServiceSignale{% endblock %}

{% block body %}
    <h1>Edit ServiceSignale</h1>

    {{ include('admin_services_signale/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_services_signale_index') }}">back to list</a>

    {{ include('admin_services_signale/_delete_form.html.twig') }}
{% endblock %}
