{% extends 'admin.html.twig' %}

{% block title %}New Abonnement{% endblock %}

{% block body %}
    <h1>Create new Abonnement</h1>

    {{ include('admin_abonnements/_form.html.twig') }}

    <a href="{{ path('app_admin_abonnements_index') }}">back to list</a>
{% endblock %}
