<form method="post" class="d-inline" action="{{ path('app_admin_stripe_delete', {'id': stripe.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette offre?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stripe.id) }}">
    <button class="btn btn-danger w-100"><i class="mdi mdi-trash-can-outline"></i> Supprimer</button>
</form>
