<div class="">
	<div class="box shadow-sm rounded bg-white mb-3">
		<div class="box-title border-bottom p-3">
			<h6 class="m-0">Abonnement</h6>
		</div>
		{% if app.user.abonnement %}
		<div class="table-responsive">
			<table class="table table-borderless text-muted">
				<thead>
					<tr>
						<th>Offre</th>
						<th>Tarif</th>
						<th>Tarification</th>
						<th>Statut</th>
						<th>Date</th>
					</tr>
					<tr>
						<td>
							<span class="badge badge-warning badge-pill">{{ abonnement(app.user).stripe.name }}</span>
						</td>
						<td>
							<div>
								<span class="h2">{{ abonnement(app.user).stripe.tarif }}</span>
								<span class="lead">{{ currency }}/mois</span>
							</div>
						</td>
						<td>
							<span>Annuel</span>
						</td>
						<td>
							<span class="badge badge-success badge-pill">Actif</span>
						</td>
						<td>
							<span class="text-muted">{{ abonnement(app.user).created|date('d/m/Y') }}</span>
						</td>
					</tr>
				</thead>
			</table>
		</div>
		{% else %}
		<p class="lead p-3">Aucun abonnement</p>
		{% endif %}
	</div>
</div>