<form method="post" action="{{ path('favoris_delete', {'id': favori.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimé ce service de vos favori?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ favori.id) }}">
    <button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></button>
</form>
